[Unit]
Description=Bot Ceibe
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/botCeibe
ExecStart=/bin/bash /home/ubuntu/botCeibe/start_bot.sh
EnvironmentFile=/home/ubuntu/botCeibe/config/.env
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=botceibe

[Install]
WantedBy=multi-user.target
